@import "./utils/normalize";
@import "./utils/variables";
@import "./base/base";
@import "./components/container";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/services";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./components/modal";

