    /* Портфолио Main*/
    .portfolio {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .portfolio .container {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .portfolio-projects {
        box-sizing: border-box;
    }
    .portfolio-projects .portfolio-projects-list {
        justify-content: start;
        box-sizing: border-box;
    }

    .portfolio-filter-list {
        margin-bottom: 50px;
    }
    
    .portfolio-filter-list-item {
        box-sizing: border-box;
        height: 38px;
        margin-right: 0px;
    }
    .portfolio-filter-list-item:not(:last-child) {
        margin-right: 8px;
    }
    
    /* Список фильтров */
    .portfolio-filter-list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border-color: transparent;
    border-radius: 4px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-top: 6px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .portfolio-filter-list-button:hover,
    .portfolio-filter-list-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    outline: none;
    }
    
    /* Проекты */

    .portfolio-projects-list {
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .portfolio-projects-list-item {
        position: relative;
        margin-left: 0px;
        margin-right: 30px;
        margin-bottom: 30px;
        width: 370px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: none;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .portfolio-projects-list-item:nth-child(3n) {
        margin-right: 0px;
    }
    
    .portfolio-projects-list-item:nth-last-child(-n+3){
        margin-bottom: 0px;
    }

    .portfolio-projects-list-item:hover,
    .portfolio-projects-list-item:focus-within {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }

    .portfolio-projects-description-overlay {
        position: relative;
        overflow: hidden;

    }    

    .portfolio-projects-description {
        box-sizing: border-box;
        display: inline-block;
        width: 370px;
        height: 294px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 24px;
        padding-right: 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--title-dark-theme-color);
        background-color: rgba(33, 150, 243, 0.9);
        }

   .portfolio-projects-list-item:hover .portfolio-projects-description,
   .portfolio-projects-list-item:focus-within .portfolio-projects-description
    {
        transform: translateY(0);
    }
 
    .portfolio-projects-list-item-img {
        align-items: center;
        width: 370px;
    }
    
    .portfolio-projects-list-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    }
    
    .portfolio-projects-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-left: 24px;
    padding-bottom: 24px;
    }