/* Header*/
.logo {
    font-family: var(--secondary-font);
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 85px;
    }

.accent-logo-text {
    color: var(--accent-color);
}

.header .container {
    display:flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
display: flex;
}

.navigation-list-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
padding-top: 32px;
padding-bottom: 32px;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, 
.navigation-list-link:focus,
.contacts-mail-link:hover,
.contacts-mail-link:focus,
.contacts-phone-link:hover,
.contacts-phone-link:focus,
.contacts-phone-icon:hover,
.contacts-phone-icon:focus {
    color: var(--accent-color);
    outline: 1px;
    outline-color: transparent;
}


.active {
color: var(--accent-color);
}

.navigation-list-item {
    position: relative;
}

.active::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width:100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* .navigation-list-item:hover .active::after {
    display: block;
} */

.navigation-list-item:not(:last-child) {
margin-right: 40px;
}

.contacts-list {
display: flex;
align-items: center;
}

.contacts-list-item {
display:flex;
align-items: center;
justify-content: center;
}

.contacts-list-item:not(:last-child) {
margin-right: 30px;
}

.address {
font-style: normal;
text-decoration: none;
display: flex;
justify-content: baseline;
align-items: center;
}

.contacts-mail-link:hover .contact-mail-icon-svg,
.contacts-mail-link:focus .contact-mail-icon-svg,
.contacts-phone-link:hover .contact-phone-icon-svg,
.contacts-phone-link:focus .contact-phone-icon-svg
{
fill: var(--accent-color);
}

.contact-mail-icon-svg,
.contact-phone-icon-svg
 {
    margin-right: 10px;
    fill: var(--primary-text-color);
}

.contacts-mail-link,
.contacts-phone-link  {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}