 /* Our team */
 .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.our-team .container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.our-team .subtitle {
    margin-top: 0px;
    margin-bottom: 50px;
}

.our-team-list-item {
background: var(--background-color);
/* material shadow v1 */
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
border-radius: 0px 0px 4px 4px;
}

.our-team-list-item:not(:last-child) {
    margin-right: 30px;
}

.our-team-list-item-img {
    margin-bottom: 30px;
}

.our-team-member {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
margin-bottom: 10px;
}

.our-team-member-position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 16px;
}

.social-links {
    display: flex;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
}

.social-links-item {
width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: none;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item:hover,
.social-links-item:focus {
    background-color: var(--accent-color);
    cursor: pointer;
    /* outline: -webkit-focus-ring-color 1px; */
}

.social-links-item-link:focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    cursor: pointer;
}

.social-links-item:hover .social-links-item-link-icon-svg,
.social-links-item:focus .social-links-item-link-icon-svg
{
fill: var(--title-dark-theme-color);
}

.social-links-item-link:focus .social-links-item-link-icon-svg {
fill: var(--title-dark-theme-color);
}

.social-links-item-link-icon-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.social-links-item:not(:last-child) {
    margin-right: 10px;
}
